<!-- CONTAINER -->
    <div class="container">
        <h1 style="text-align: center; padding: 14px 0 10px 0;">Đơn hàng đã mua</h1>

        <div class="product" style="text-align: center; overflow-x: auto;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Chi tiết</th>
                        <th scope="col">Ngày mua</th>
                        <th scope="col">Đơn vị vận chuyển</th>
                        <th scope="col">Mã vận đơn</th>
                        <th scope="col">Tổng tiền</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>R45MD0</td>
                        <td class="text-left">Pizza Hải Sản Nhiệt Đới (XL x1)<br>Mỳ Ý Cay Hải Sản (x1)</td>
                        <td>21/11/2020</td>
                        <td class="text-left">GiaoHangNhanh</td>
                        <td>ML4DL5C1RE0N</td>
                        <td style="color: red;font-size: 1.2rem;">268.000đ</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>RJM6LN</td>
                        <td class="text-left">Tiết kiệm 50% Pizza (x1)</td>
                        <td>04/12/2020</td>
                        <td class="text-left">PizzaWorld</td>
                        <td>FIP0O8Z4ERGR</td>
                        <td style="color: red;font-size: 1.2rem;">297.000đ</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>QQXG9W</td>
                        <td class="text-left">Mỳ Ý Thịt Bò Băm (x1)<br>Salad Trộn Ceasar (x1)</td>
                        <td>08/12/2020</td>
                        <td class="text-left">GiaoHangTietKiem</td>
                        <td>P1BJ1J5WECP0</td>
                        <td style="color: red;font-size: 1.2rem;">198.000đ</td>
                    </tr>

                    <tr>
                        <th scope="row" class="hide_cell"></th>
                        <td class="hide_cell"></td>
                        <td class="hide_cell"></td>
                        <td class="hide_cell"></td>
                        <td class="hide_cell"></td>
                        <td style="font-size: 1.2rem; font-weight: bold;">Tổng cộng</td>
                        <td style="color: red; font-size: 1.2rem; font-weight: bold;">763.000đ</td>
                    </tr>
                </tbody>
            </table>
            <a href="@Url.Action("Index","Home")" class="btn btn-success my-4">Quay về Trang chủ</a>
        </div>
    </div>
    <!-- END CONTAINER -->

   


 

